.floating {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    padding-right: 22px;
    width: 120px;
    height: 60px;
    border-radius: 28px;
    background: #00137d;
    font-size: 18px;
}