.floating {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    padding-right: 22px;
    width: 120px;
    height: 60px;
    border-radius: 28px;
    background: #7d1100;
    font-size: 18px;
}