.floating {
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    padding-right: 22px;
    width: 120px;
    height: 60px;
    border-radius: 28px;
    background: #d30606;
    font-size: 18px;
}